<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-syslog-server-SEED1407771561706</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>syslog-server-SEED1407771561706</wdId>
      <tags>cisco-asa</tags>
      <dirName>./work/LogServer_SERVER_/cisco/</dirName>
      <hosts></hosts>
      <filePattern>*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>999</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.NullFileSorter"/>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>SingleLine</breakRule>
      <archivingRules>,,None</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->